<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Details</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div class="header">
    <h1> E-Ticket Status</h1>
</div>
<table align="center" class="t1">
    <tr>
        <td><h2>E-Pass ID:</h2></td>
        <td><h2>ID20210922</h2></td>
    </tr>
    <tr>
        <td><h2> Name:</h2></td>
        <td><h2>{{var1}}</h2></td>
    </tr>
    <tr><td><h2> E-Mail Id:</h2></td>
        <td><h2>{{var2}}</h2></td>
    </tr>
    <tr>
        <td><h2> Aadhar Card Number:</h2></td>
        <td><h2>{{var3}}</h2></td></tr>
    <tr>
        <td><h2> Travelling From:</h2></td>
        <td><h2>{{var4}}</h2></td>
    </tr>
    <tr>
        <td><h2> City:</h2></td>
        <td><h2>{{var5}}</h2></td>
    </tr>
    <tr>
        <td><h2> Travelling To:</h2></td>
        <td><h2>{{var6}}</h2></td>
    </tr>
    <tr>
        <td><h2> City:</h2></td>
        <td><h2>{{var7}}</h2></td>
    </tr>
    <tr>
        <td><h2> Phone Number:</h2></td>
        <td><h2>{{var8}}</h2></td>
    </tr>
    <tr>
        <td><h2>  Date:</h2></td>
        <td><h2>{{var9}}</h2></td>
    </tr>
    <tr>
        <td><h2> Status:</h2></td>
        <td><h2>{{var10}}</h2></td>
    </tr>

</table>
</body>
</html>